<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar programas de carritos</title>
</head>
<body>
    <div class="form-first">
        <form action="" method="post">
            <label for="dia">Dia a modificar</label>
            <select name="dias" id="dias">
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sabado</option>
            </select>

        </form>
    </div>
    <script>

    </script>
</body>
</html>